@import '@reach/dialog/styles.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Manually add tailwinds preflight reset so we can opt out of some resets that cause integration issues for now */
/* Consider removing this and just re-enabling the tailwind preflight once integration is further along */
@import './reset.css';

@layer base {
    html {
        font-size: 16px; /* Make sure we're always working with 16px as base for rem units */
    }

    body {
        @apply text-body text-base;
    }

    a,
    a:visited {
        @apply text-interactive-active no-underline;
    }

    a:hover {
        @apply text-interactive-hover underline;
    }

    b,
    strong {
        @apply font-bold;
    }

    /* Bootstrap still wins certain specificity battles against Tailwind since it's resets can be more aggressive */
    /* We can override any of the issues here since Playbook is included in the app after Bootstrap */

    input[type='file'],
    input[type='radio'],
    input[type='checkbox'] {
        @apply m-0 focus:outline-none;
        line-height: 1.25rem;
    }

    input[type='radio'][disabled],
    input[type='checkbox'][disabled],
    input[type='radio'].disabled,
    input[type='checkbox'].disabled,
    fieldset[disabled] input[type='radio'],
    fieldset[disabled] input[type='checkbox'] {
        @apply cursor-default;
    }

    label {
        @apply mb-0 font-bold;
    }
}
