.Title {
    @apply block text-base text-body border-none mb-2 w-auto;
}

.Item {
    @apply mb-2;
}

.Error {
    @apply mt-2;
}

.loose {
    @apply mb-4;
}

.MoreChoices {
    @apply text-body-sm cursor-pointer mt-4 flex items-center gap-1 text-interactive-active;
    fill: #0369a1;
}
